# Base requirements and requirements for vision elements such as YOLO

pygobject
torch
torchvision
torchaudio
transformers==4.45.1
numpy
huggingface-hub
lap
ultralytics
pycairo
bitsandbytes

pytest>=7.0
