nvidia-cudnn-cu11==8.9.6.50
sentencepiece
protobuf
accelerate
huggingface-hub
confluent-kafka
pysilero
torchaudio
faster_whisper
pysilero-vad
ultralytics
diffusers
whisperspeech
webdataset
sacremoses
coqui-tts
skia-python
pycairo
ninja
flash_attn
