# Base requirements and requirements for vision elements such as YOLO

pygobject
torch
torchvision
torchaudio
transformers
numpy
black
ruff
huggingface-hub
confluent-kafka
ultralytics
skia-python
pycairo
